<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Scripts/Datepicker.css" rel="stylesheet" />
</head>
<body>
    @if (Session["Username"] == null && Session["Role"] == null)
    {
        Html.RenderPartial("_LogInError");
    }
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Book Easy", "Index", "MovieDetails", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Movie", "Index", "MovieDetails")</li>
                    @if (Session["Role"].ToString() == "admin")
                    {

                        <li>@Html.ActionLink("Users", "Index", "UserDetails")</li>

                    } @if (Session["Role"].ToString() == "User")
                    {
                        <li>@Html.ActionLink("Profile", "UserProfile", "Home")</li>
                    }

                    <li>@Html.ActionLink("DashBord", "Index", "BookingCnfs")</li>

                    <li style="float: right">@Html.ActionLink("LogOut", "LogOut", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h1></h1>
        <h1></h1>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - By Tripling Group of ISBR</p>
            @Html.ActionLink("Terms & Condition....", "TermsAndCondition", "Home")
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
